auto/.cache/
/.mc-lists.el
/auto-save-list/
/bookmarks
/eaf/
/elpa/
/games/
/myinit.el
/recentf
/recentf~
/site-lisp/
/smex-items
/transient/
/url/
/pyim/
/rime/
/tramp
/.cache/
/notes
/type-break
/speed-type/
/.dap-breakpoints
/.lsp-session-v1
/eclipse.jdt.ls/
/request/
/workspace/
/.dir-locals.el
/projectile-bookmarks.eld
/projectile.cache
/image-dired/
/install
/lsp-cache/
/straight/
/var/
/history
/myinit.el~
/autobookmarks
/package-quickstart.el
/package-quickstart.elc
/places
/devdocs/
/tldr/
/myinit.pdf
/myinit.tex
/myinit.docx
/myinit.odt
/multisession/
/srecode-map.el
/tmpiPIMq4
