auto/.cache/
/.mc-lists.el
/auto-save-list/
/bookmarks
/eaf/
/elpa/
/games/
/myinit.el
/recentf
/recentf~
/site-lisp/
/smex-items
/transient/
/url/
/pyim/
/rime/
/tramp
/.cache/
/notes
/type-break
/speed-type/
/.dap-breakpoints
/.lsp-session-v1
/eclipse.jdt.ls/
/request/
/workspace/
/.dir-locals.el
/projectile-bookmarks.eld
/projectile.cache
/image-dired/
/install
